# Pandas Word Count

In [1]:
import pandas as pd

In [2]:
# load dataset into DataFrame
file_path = "./data/wordcount.txt"

# each entry contains a text row
df = pd.read_csv(file_path, header=None)
df.head()

                                                   0
0    word count from Wikipedia the free encyclopedia
1  the word count is the number of words in a doc...
2  is required to stay within certain numbers of ...
3  proceedings journalism and advertising Word co...
4  the translation job Word counts may also be us...

In [3]:
# count words
wc_df = (
    df[0]
    .str
    .split(expand=True) # splits row around ' ' separator and expand into columns
    .stack() # stack columns vertically -> each entry contains a single word
    .value_counts()
    .reset_index()
)
wc_df.head()

  index   0
0   the  38
1     a  28
2    of  25
3  word  24
4   and  23

In [4]:
wc_df.columns = ['Word', 'Frequency'] 
wc_df = wc_df.sort_values(['Frequency', 'Word'], ascending=False) # expensive op - just for 
wc_df

               Word  Frequency
0               the         38
1                 a         28
2                of         25
3              word         24
4               and         23
..              ...        ...
264        Contents          1
190  Classification          1
204        American          1
183         America          1
323              10          1

[381 rows x 2 columns]